<div class="field">
<h2>ログイン</h2>
<%= form_with(scope: :session, url: sessions_path) do |f| %>
  <br>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>

  <%= f.label :パスワード %>
  <%= f.password_field :password %>

  <br>
  <br>
  <%= f.submit "ログイン", class: 'btn btn-primary' %>
<% end %>
</div>