<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top</title>
  </head>

  <br>
  <body>
    <div class="top-image">
      <img src="/assets/sv_top.jpg">
      <p>はたらくくるまMAP</p>
    </div>
  
    <div class="about">
      <p>はたらくくるまの写真を投稿しよう!</p>
    </div>

<%# MAPの領域を指定 %>    
  <head>
    <style>
      #map {
        width: 100%;
        height: 500px;
        background-color: grey;
      
    </style>
  </head>
  
    <div id="map"></div>


<%# GoogleMAP表示用スクリプト %>
  <script>

    function initMap() {


// locationsに@pictureの各要素を代入する。for文で書きたいがうまく動かない

      var locations = [
        {title: "<%= @pictures[0].cate %>", location: {lat: <%= @pictures[0].lat %>, lng: <%= @pictures[0].lon %>}, image: "<%= @pictures[0].image_url %>"},
        {title: "<%= @pictures[1].cate %>", location: {lat: <%= @pictures[1].lat %>, lng: <%= @pictures[1].lon %>}, image: "<%= @pictures[1].image_url %>"},
        {title: "<%= @pictures[2].cate %>", location: {lat: <%= @pictures[2].lat %>, lng: <%= @pictures[2].lon %>}, image: "<%= @pictures[2].image_url %>"},
        {title: "<%= @pictures[3].cate %>", location: {lat: <%= @pictures[3].lat %>, lng: <%= @pictures[3].lon %>}, image: "<%= @pictures[3].image_url %>"},
        {title: "<%= @pictures[4].cate %>", location: {lat: <%= @pictures[4].lat %>, lng: <%= @pictures[4].lon %>}, image: "<%= @pictures[4].image_url %>"},
        {title: "<%= @pictures[5].cate %>", location: {lat: <%= @pictures[5].lat %>, lng: <%= @pictures[5].lon %>}, image: "<%= @pictures[5].image_url %>"},
        {title: "<%= @pictures[6].cate %>", location: {lat: <%= @pictures[6].lat %>, lng: <%= @pictures[6].lon %>}, image: "<%= @pictures[6].image_url %>"},
        {title: "<%= @pictures[7].cate %>", location: {lat: <%= @pictures[7].lat %>, lng: <%= @pictures[7].lon %>}, image: "<%= @pictures[7].image_url %>"},
      ];

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
      });
    
      var markers = [];

      var bounds = new google.maps.LatLngBounds();

      for (var i = 0; i < locations.length; i++){
        var position = locations[i].location;
        var title = locations[i].title;
        var image = {
          url : locations[i].image,
          scaledSize : new google.maps.Size(48, 48)
        };
        
        var marker = new google.maps.Marker({
          map: map,
          position: position,
          title: title,
          icon: image,
          animation: google.maps.Animation.DROP,
          id: i
        });
    
        markers.push(marker);
        bounds.extend(markers[i].position);
      }
      
      map.fitBounds(bounds);
    }
      
      
  </script>
    
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA02Mc7Su7s6oexSB2yLz9ZSUT59Xr5C9M&callback=initMap"type="text/javascript"></script>

    <div class="container">
      <div class="row">
          <h4 class="col-xs-offset-2 col-xs-8 
                     col-md-offset-2 col-md-3"><%= link_to '写真一覧', pictures_path %></h4>
          <h4 class="col-xs-offset-2 col-xs-8
                     col-md-offset-2 col-md-3"><%= link_to '新規投稿', new_picture_path %></h4>
      </div>
　　</div>

  </body>
</html>