<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top</title>
  </head>

  <br>
  <body>
    <div class="top-image">
      <img src="/assets/sv_top.jpg">
      <p>はたらくくるまMAP</p>
    </div>
  
    <div class="about">
      <p>はたらくくるまの写真を投稿しよう!</p>
    </div>

<%# MAPの領域を指定 %>    
  <head>
    <style>
      #map {
        width: 100%;
        height: 500px;
        background-color: grey;
      
    </style>
  </head>
  
    <div id="map"></div>


<%# GoogleMAP表示用スクリプト %>


  <script>
  
    function initMap() {
      
      
      var lat = [];
      lat = <%= @lat %>;
      
      var lon = [];
      lon = <%= @lon %>;
      
      var id = [];
      id = <%= @id %>;
      
      var cate = [];
      cate = <%= @cate_j %>;
      
      var image = [];
      image = <%= @image_j %>;

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
      });
      
      var markers = [];
      
      var bounds = new google.maps.LatLngBounds();
      
      

      for (var i = 0; i < lat.length; i++){
        var position = {lat: lat[i], lng: lon[i]}; 
        var title = cate[i];
        var image = {
          url : image[i],
          scaledSize : new google.maps.Size(48, 48)
        };
        
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: title,
          icon: image,
          animation: google.maps.Animation.DROP,
          id: i
        });
    
        markers.push(marker);
        bounds.extend(markers[i].position);
        
      }  
      map.fitBounds(bounds);
    }
      
      
  </script>
    
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA02Mc7Su7s6oexSB2yLz9ZSUT59Xr5C9M&callback=initMap"type="text/javascript"></script>

    <div class="container">
      <div class="row">
          <h4 class="col-xs-offset-2 col-xs-8 
                     col-md-offset-2 col-md-3"><%= link_to '写真一覧', pictures_path %></h4>
          <h4 class="col-xs-offset-2 col-xs-8
                     col-md-offset-2 col-md-3"><%= link_to '新規投稿', new_picture_path %></h4>
      </div>
　　</div>

  </body>
</html>