<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p><%= image_tag @user.image %></p>  


<div class="container">
  <div class = "title">
    <h1>お気に入り写真一覧</h1>
    <table class = "table">
      <tr>
        <th>投稿者</th>
        <th>写真</th>
        <th>コメント</th>
      </tr>

      <% @favorites_pictures.each do |favorites_picture| %>
        <tr>
          <td><%= User.find(Picture.find(favorites_picture.picture_id).user_id).name %></td>
          <td><%= image_tag Picture.find(favorites_picture.picture_id).image %></td>
          <td><%= Picture.find(favorites_picture.picture_id).content %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>