<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="picture_title">
    <%= form.label :写真 %>
    <%= form.file_field :image, id: :picture_image %>
    <%= form.hidden_field :image_cache %>
    <br>
    <%= form.label :カテゴリ %>
    <%= form.text_field :cate %>
<%#    <%= form.collection_select :category_name, Category.all, :category_name, :category_name %>
　　</br>
　　<br>
    <%= form.label :コメント %>
    <%= form.text_field :content %>
    </br>

    <br>
    <%= form.submit "写真を投稿する"%>
    </div>

<% end %>
