<h1>以下の内容で投稿する</h1>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :cate %>

  <p>写真:</p>
  <p><%= image_tag(@picture.image.url) %></p>
  <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>  

  <p>カテゴリ:<%= @picture.cate %></p>
  <p>コメント:<%= @picture.content %></p>

  <%= form.submit  "投稿する" %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :cate %>
  <%= form.submit "もどる" %>
<% end %>