<br>
<h2>以下の内容で投稿する</h2>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :cate %>
  <%= form.hidden_field :modelname %>
  
  <p><%= image_tag(@picture.image_url, :width => "60%") %></p>
  <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>  

  <p>カテゴリ:<%= @picture.cate %></p>
  <p>詳細情報:<%= @picture.modelname %></p>
  <p>コメント:<%= @picture.content %></p>

  <%= form.submit  "投稿する" , class: 'btn btn-primary'%>
<% end %>

<br>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :cate %>
  <%= form.hidden_field :modelname %>
  <%= form.submit "もどる", class: 'btn btn-warning' %>
<% end %>