<div class="container">

<h1></h1>

  <div class = "title">  
    <h1>写真一覧</h1> 
  </div>
  
  <div class = "notice">
    <p><%= notice %></p>
  </div>

  <div class="row eq-height">
    <% @pictures.each do |picture| %>
      <div class="col-xs-12
                  col-md-4 border">
        <p><%= image_tag picture.image, :width => "70%" %></p>
        <p>カテゴリ：<%= picture.cate %></p>        
        <p>投稿者：<%= User.find(picture.user_id).name %></p>
        <%= link_to '詳細', picture_path(picture.id), class: 'btn btn-success' %>
        
        <% if picture.user_id == current_user.id %>
          <%= link_to '編集', edit_picture_path(picture.id), class: 'btn btn-info' %>
          <%= link_to '削除', picture_path(picture.id), method: :delete , class: 'btn btn-danger',data: { confirm: '本当に削除していいですか？' } %>
        <% else %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
