<h1></h1>

<div class = "image1">
  <p><%= image_tag @picture.image, :width => "50%" %></p>  
</div>

<p></p>

<div>
<% unless @picture.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(picture_id: @picture.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-info' %>
  <% end %>
<% end %>
</div>

<p></p>
<p>カテゴリ: <%= @picture.cate %></p>
<p>詳細情報: <%= @picture.modelname %></p>
<p>コメント: <%= @picture.content %></p>
<p>緯度: <%= @picture.lat %></p>
<p>経度: <%= @picture.lon %></p>


<div>
  <head>
    <style>
      #map {
        width: 100%;
        height: 600px;
        background-color: grey;
      }
    </style>
  </head>
  
    <h3>はたらくくるまMAP</h3>
    <div id="map"></div>
    
    <script>
      function initMap() {
        var location = {lat: <%= @picture.lat %>, lng: <%= @picture.lon %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: location
          });
        
        var image = {
                      url : "/assets/sv-icon-red.png",
                      scaledSize : new google.maps.Size(48, 48)
                    }
        
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: image,
          title:"<%= @picture.cate %>"
        });  
    
      }
    
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA02Mc7Su7s6oexSB2yLz9ZSUT59Xr5C9M&callback=initMap"type="text/javascript"></script>
</div>



