<br>
<br>

<div class = "title">  
  <h3>詳細情報</h3> 
</div>


<div class="row eq-height">

  <div class="col-xs-12
              col-md-6 border">

    <h3>写真</h3>
  
    <div class = "image1">
      <p><%= image_tag @picture.image, :width => "80%" %></p>  
    </div>

    <p></p>

    <div>
      <% unless @picture.user == current_user %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(picture_id: @picture.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-info' %>
        <% end %>
      <% end %>
    </div>

    <br>
    <p>カテゴリ: <%= @picture.cate %></p>
    <p>詳細情報: <%= @picture.modelname %></p>
    <p>コメント: <%= @picture.content %></p>

  </div>

  <div class="col-xs-12
              col-md-6 border">
  
    <head>
      <style>
        #map {
          width: 90%;
          height:60ex;
          background-color: grey;
          margin: auto;
        }
      </style>
    </head>

    <h3>はたらくくるまMAP</h3>
    
    <div id="map"></div>
    
    <script>
      function initMap() {
        var location = {lat: <%= @picture.lat %>, lng: <%= @picture.lon %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: location
          });
        
        var image = {
                      url : "/assets/sv-icon-red.png",
                      scaledSize : new google.maps.Size(48, 48)
                    }
        
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: image,
          title:"<%= @picture.cate %>"
        });  
    
      }
    
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA02Mc7Su7s6oexSB2yLz9ZSUT59Xr5C9M&callback=initMap"type="text/javascript"></script>

  </div>

</div>



